<!-- <table class="table table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-primary">
    <tr *ngFor="let result of table; let i = index">
        <td>{{number}}</td>
        <td>X</td>
        <td>{{i+1}}</td>
        <td>{{result}}</td>
    </tr>
</table> -->


{{numbers}}

<ul>
    <li *ngFor="let n of numbers; let i = index">{{i}}=>{{n}}</li>
    <!-- <li>{{numbers[1]}}</li>
    <li>{{numbers[2]}}</li>
    <li>{{numbers[3]}}</li>
    <li>{{numbers[4]}}</li>
    <li>{{numbers[5]}}</li> -->
</ul>
<div *ngFor="let product of products" class="col-2 card text-center">
    <h2>
        {{product.name}}
    </h2>
    <h3>
        &#8377; {{product.price}}
    </h3>
</div>