<h1>Home component</h1>
<app-header></app-header>
<!-- <p>This is from home component</p>
<p>
    Hi {{name}}, you are {{age}} years old. Your email is {{email}}
</p>

<input [ngStyle]="{'border': inputBoxColor}" type="text" [value]='name' (focus)='inputFocus()'
    (keyup)='updateName($event)' (blur)="inputBlur($event)">
<p style="color:red">{{inputMsg}}</p>

<input type="text" [(ngModel)]='name'>
<button (click)='increaseAge()'>Increase Age</button>
<button (click)='decreaseAge()'>Decrease Age</button> -->


<!-- <app-age-validator></app-age-validator>
<app-test></app-test>
<app-footer></app-footer> -->
<!-- <app-maths-table></app-maths-table>-->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-maths-table></app-maths-table>
<app-ngclass></app-ngclass> -->
<!-- <app-image-selector></app-image-selector> -->
<app-custom-directives></app-custom-directives>